@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #222222;
}
/* h1 {
  font-size: 56px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 16px;
} */
.row { /* строка */
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 10px;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-3 {
  flex: 25% 0 0;
}
.col-4 {
  flex: 33.3% 0 0;
  
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}
.container {
  max-width: 1440px;
  
}
nav {
  display: flex;
  background-color: white;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding: 15px;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav li {
  padding-right: 25px;
  list-style-type: none;
  justify-content: center;
}
nav a {
  color: black;
  text-decoration: none;
  justify-content: center;
}
button {
    justify-items: flex-end;
    border-radius: 48px;
    background-color: white;
    width: 130px;
    height: 50px;
    font-size: 16px;

}
.business {
    margin-right: 487px;
}
.first {
    margin-right: 20px;
}
.main {
    display: flex;
}
.main .header-1 .header-2 {
    display: flex;

}
.main .Peaceful-shopping .play-logo {
  height: 27px;
  width: 27px;
  border-radius: 2px solid black;
  margin-right: 8px;
} 
header {
  display: flex;
  justify-content: space-between;
}  
.Peaceful-shopping {
    max-width: 550px;
    margin-top: 130px;
    margin-left: 40px;
}
.card-phone { 
    padding-right: 20px;
    padding-top: 40px;
    padding-left: 40px;
}
.Peaceful-shopping .img-1 {
    padding-bottom: 20px;
}
.information-zencard {
    display: flex;
    justify-content: space-between;
}
.information-zencard .two-phones img {
  padding-top: 100px;
  padding-right: 50px;
  padding-left: 40px;
}
.information-zencard .zencard-function {
    /* max-width: 550px; */
    padding-top: 390px;
    padding-right: 50px;
}
.shopping-online {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 40px;
}
.shopping-online .zen-shopping {
  margin-top: 200px;
}
.shopping-online .wallet-phone {
     padding-right: 20px;
     padding-top: 5px;
     padding-left: 40px;
 }
 main .cashback {
    /* align-items: center; */
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 150px;
  
 }
 main .cashback h1 {
    font-size: 36px;
 }
 main .btn-2 {
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 550px;
    font-size: 18px; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 17%;
    margin: 0 auto;
    margin-top: 30px;
 }
 .logo .eight-logo img {
    flex: 25% 0 0;
    padding-left: 100px;
    padding-top: 60px;
 }
 .mastercard {
    display: flex;
    justify-content: space-between;
 }
 .mastercard .card-convenience {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 280px;
 }
 .mastercard .card-convenience img {
    padding-right: 20px;
    padding-top: 20px;
    
 }
 .mastercard .content-2 {
    padding-top: 97px;
 }
 .main-5 {
    margin-top: 130px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
 }
 .main-5 .content-4 {
  padding-top: 140px;
  padding-right: 40px;
  padding-left: 40px;
 }
 .main-6 {
  display: flex;
  justify-content: space-between;
 }
 .main-6 .content-5 {
  max-width: 475px;
  margin-top: 250px;
  margin-left: 40px;
  margin-right: 40px;
 }
.main-6 .content-6 {
  margin-top: 80px;
  margin-right: 40px;
}
.main-7 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}
.main-7 .content-7 {
  margin-left: 40px;
  margin-top: 160px;
}
.main-7 .content-8 {
  max-width: 470px;
  margin-right: 40px;
  margin-top: 290px;
}
footer {
  border-top: 1px solid black;
}
footer {
  display: flex;
  background-color: white;
  justify-content: center;
  padding: 15px;
  width: 100%;
  margin-top: 50px;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer li {
  padding-right: 25px;
  list-style-type: none;
  justify-content: center;
}
footer a {
  color: black;
  text-decoration: none;
  justify-content: center;
  /* margin-right: 130px; */
}

