@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #222222;
}
nav {
  display: flex;
  background-color: white;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding: 15px;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav li {
  padding-right: 25px;
  list-style-type: none;
  justify-content: center;
}
nav a {
  color: black;
  text-decoration: none;
  justify-content: center;
}
button {
    justify-items: flex-end;
    border-radius: 48px;
    background-color: white;
    width: 130px;
    height: 50px;
    font-size: 16px;

}
.business {
    margin-right: 487px;
}
.first {
    margin-right: 20px;
}
.container {
    display: flex;
}
.container .header-1 .header-2 {
    display: flex;

}
.header-1 {
    float: left;
    max-width: 550px;
    margin-top: 130px;
    margin-left: 40px;
}
.header-2 {
    float: right;
    padding-right: 20px;
    padding-top: 40px;
    padding-left: 40px;
}
.container .img-1 {
    padding-bottom: 20px;
}
.main .header-3 img {
    float: left;
    padding-top: 100px;
    padding-right: 50px;
    padding-left: 40px;
}
.main .header-4 {
    padding-top: 390px;
    padding-right: 50px;
}
.main-2 .header-5 {
    float: left;
    max-width: 550px;
    margin-top: 400px;
    margin-left: 40px;
}
    
.main-2 .header-6 {
     float: right;
     padding-right: 20px;
     padding-top: 100px;
     padding-left: 40px;
 }
 main .header-7 {
    /* align-items: center; */
    text-align: center;
    padding-top: 1000px;
    padding-left: 428px;
    padding-right: 428px;
 }
 main .header-7 h1 {
    font-size: 36px;
 }
 main .btn-2 {
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 550px;
    font-size: 18px; */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid gray;
    width: 17%;
    margin-left: 523px;
    margin-top: 30px;
 }
 .main-3 .header-8 img {
    flex: 33.3% 0 0;
    padding-left: 100px;
    padding-top: 60px;
 }
 .main-4 .content-1 {
    float: left;
    max-width: 550px;
    margin-top: 130px;
    margin-left: 50px;
 }